

.thefooter {
    background-color: rgb(71, 216, 216);
    margin-top: 0%;
    padding: 2%;
}



#apple {

    margin-bottom: 30px;
}

#idee {
    margin-top: 8px;
    margin-bottom: 30px;
}

.linkstyle {
    font-size:large;
    margin-left: 15%;

}

